# Application
wordpress/*
wp-config.php

# System
logs/*
.bash*
.cache/*
.config/*
.local/*
.viminfo

# WP-CLI
.wp-cli/*
*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
.composer
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
